nav {
    display: flex;
    justify-content: space-between;
    max-width: 1152px;
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    margin: 10px;
}

img {
    height: 50px;
}

.menu li:hover {
    filter: brightness(50%);
}