nav {
    display: flex;
    justify-content: space-between;
    max-width: 1152px;
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    margin: 10px;
}

img {
    height: 50px;
}

li:hover {
    opacity: 0.5;
}

h1 {
    font-size: 200px;
    color: white;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    position: absolute;
    top: 25%;
    left: 25%;
    height: -100px;
}

h2 {
    position: absolute;
    font-size: 60px;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    top: 55%;
    left: 26.5%;
}