nav {
    display: flex;
    justify-content: space-between;
    max-width: 72rem;
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    margin: 0.625rem;
}

img {
    height: 3.125rem;
}

.nav li:hover, .menu li:hover {
    opacity: 0.5;
}

#game-container h1 {
    font-size: 12.5rem;
    color: white;
    -webkit-text-stroke-width: 0.188rem;
    -webkit-text-stroke-color: black;
    position: absolute;
    top: 25%;
    left: 25%;
    height: -6.25rem;
}

#game-container h2 {
    position: absolute;
    font-size: 60px;
    color: white;
    -webkit-text-stroke-width: 0.125rem;
    -webkit-text-stroke-color: black;
    top: 55%;
    left: 26.5%;
}