@import './styles/css_reset.scss', './styles/nav.scss', './styles/background.scss';

body {
    background: white;
    font-family: 'VT323', monospace;
    font-size: 1.25rem;
    user-select: none;
}

#game-container {
    position: absolute;
    top: 47%;
    left: 50%;
    margin-right: 50%;
    transform: translate(-50%, -50%);
}

#mobile-error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 80vw;
    margin: auto;
    height: 90vh;
    font-size: 2.5rem;
    white-space: pre-line;
    padding:2rem;
}

#mobile-error > div {
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin: 2rem;
}

#leaderboard {
    margin: 0.625rem;
    width: 100%;
}

#leaderboard > h3 {
    font-weight: 900;
    text-decoration: underline;
}