@import './styles/css_reset.scss', './styles/nav.scss', './styles/background.scss';

body {
    background: white;
    font-family: 'VT323', monospace;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: 50%;
    transform: translate(-50%, -50%);
}

#mobile-error {
    width: 300px;
    font-size: 60px;
    text-align: center;
}