@import './styles/css_reset.scss', './styles/nav.scss', './styles/background.scss';

body {
    font-family: 'VT323', monospace;
    align-content: center;
}

#mobile-error {
    width: 300px;
    font-size: 60px;
    text-align: center;
}